In [3]:
import numpy as np 
import pandas as pd

In [4]:
yt_only_trailer = pd.read_csv('CSV files/yt_only_trailer_2.csv')

In [5]:
yt_only_trailer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6447 entries, 0 to 6446
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         6447 non-null   object
 1   movieId           6447 non-null   int64
 2   title             6447 non-null   object
 3   trailer_present   6447 non-null   int64
 4   video downloaded  6447 non-null   int64
 5   Durations         6447 non-null   int64
 6   FPS               6447 non-null   int64
 7   Width             6447 non-null   int64
 8   Height            6447 non-null   int64
 9   Aspect Ratio      6447 non-null   float64
dtypes: float64(1), int64(7), object(2)
memory usage: 503.8+ KB

In [6]:
# Sort the DataFrame by 'movieId' column
yt_only_trailer = yt_only_trailer.sort_values('movieId')

# Reset the index based on the sorted order
yt_only_trailer = yt_only_trailer.reset_index(drop=True)

# Display the updated DataFrame information
yt_only_trailer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6447 entries, 0 to 6446
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         6447 non-null   object
 1   movieId           6447 non-null   int64
 2   title             6447 non-null   object
 3   trailer_present   6447 non-null   int64
 4   video downloaded  6447 non-null   int64
 5   Durations         6447 non-null   int64
 6   FPS               6447 non-null   int64
 7   Width             6447 non-null   int64
 8   Height            6447 non-null   int64
 9   Aspect Ratio      6447 non-null   float64
dtypes: float64(1), int64(7), object(2)
memory usage: 503.8+ KB

In [7]:
yt_only_trailer

,youtubeId,movieId,title,trailer_present,video downloaded,Durations,FPS,Width,Height,Aspect Ratio
0,K26_sDKnvMU,1,Toy Story (1995),1,0,90,29,636,480,1.32
1,3LPANjHlPxo,2,Jumanji (1995),1,0,167,23,1280,720,1.78
2,rEnOoWs3FuA,3,Grumpier Old Men (1995),1,0,111,29,640,360,1.78
3,j9xml1CxgXI,4,Waiting to Exhale (1995),1,0,159,23,640,480,1.33
4,2GfZl4kuVNI,6,Heat (1995),1,0,147,24,1920,1080,1.78
...,...,...,...,...,...,...,...,...,...,...
6442,_Buvv8StMGw,130682,Muck (2015),1,0,86,23,1280,720,1.78
6443,qCD9BG7ioOc,130970,George Carlin: Life Is Worth Losing (2005),1,0,267,29,1920,1080,1.78
6444,zElDJ1f3Jk0,130980,The Day That Lasted 21 Years (2012),1,0,116,29,1920,1080,1.78
6445,lEqrpuU9fYI,131013,Get Hard (2015),1,0,144,23,1280,720,1.78
6446,zildFIFKjlc,131168,Phoenix (2014),1,0,124,23,1920,816,2.35

In [8]:
# Calculate the number of rows for each part
total_rows = len(yt_only_trailer)
part1_rows = int(total_rows * 0.3)
part2_rows = int(total_rows * 0.2)
part3_rows = int(total_rows * 0.2)
part4_rows = int(total_rows * 0.15)
part5_rows = total_rows - part1_rows - part2_rows - part3_rows - part4_rows

# Adjust the number of rows in the last part to include any remaining rows
part5_rows += total_rows - (part1_rows + part2_rows + part3_rows + part4_rows + part5_rows)

# Divide the dataset into 5 parts
part1 = yt_only_trailer.iloc[:part1_rows]
part2 = yt_only_trailer.iloc[part1_rows:part1_rows+part2_rows]
part3 = yt_only_trailer.iloc[part1_rows+part2_rows:part1_rows+part2_rows+part3_rows]
part4 = yt_only_trailer.iloc[part1_rows+part2_rows+part3_rows:part1_rows+part2_rows+part3_rows+part4_rows]
part5 = yt_only_trailer.iloc[part1_rows+part2_rows+part3_rows+part4_rows:]

# Display the information of each part
print("Part 1:")
part1.info()
print("\nPart 2:")
part2.info()
print("\nPart 3:")
part3.info()
print("\nPart 4:")
part4.info()
print("\nPart 5:")
part5.info()

# Verify the total number of rows in all parts
total_rows_in_parts = len(part1) + len(part2) + len(part3) + len(part4) + len(part5)
print(f"\nTotal rows in all parts: {total_rows_in_parts}")
print(f"Total rows in the original dataset: {total_rows}")

Part 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934 entries, 0 to 1933
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         1934 non-null   object
 1   movieId           1934 non-null   int64
 2   title             1934 non-null   object
 3   trailer_present   1934 non-null   int64
 4   video downloaded  1934 non-null   int64
 5   Durations         1934 non-null   int64
 6   FPS               1934 non-null   int64
 7   Width             1934 non-null   int64
 8   Height            1934 non-null   int64
 9   Aspect Ratio      1934 non-null   float64
dtypes: float64(1), int64(7), object(2)
memory usage: 151.2+ KB

Part 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 1934 to 3222
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         1289 non-null   object
 1   movieId           1289 non-null   int64
 2   title             1289 non-null   object
 3   trailer_present   1289 non-null   int64
 4   video downloaded  1289 non-null   int64
 5   Durations         1289 non-null   int64
 6   FPS               1289 non-null   int64
 7   Width             1289 non-null   int64
 8   Height            1289 non-null   int64
 9   Aspect Ratio      1289 non-null   float64
dtypes: float64(1), int64(7), object(2)
memory usage: 100.8+ KB

Part 3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 3223 to 4511
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         1289 non-null   object
 1   movieId           1289 non-null   int64
 2   title             1289 non-null   object
 3   trailer_present   1289 non-null   int64
 4   video downloaded  1289 non-null   int64
 5   Durations         1289 non-null   int64
 6   FPS               1289 non-null   int64
 7   Width             1289 non-null   int64
 8   Height            1289 non-null   int64
 9   Aspect Ratio      1289 non-null   float64
dtypes: float64(1), int64(7), object(2)
memory usage: 100.8+ KB

Part 4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967 entries, 4512 to 5478
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         967 non-null    object
 1   movieId           967 non-null    int64
 2   title             967 non-null    object
 3   trailer_present   967 non-null    int64
 4   video downloaded  967 non-null    int64
 5   Durations         967 non-null    int64
 6   FPS               967 non-null    int64
 7   Width             967 non-null    int64
 8   Height            967 non-null    int64
 9   Aspect Ratio      967 non-null    float64
dtypes: float64(1), int64(7), object(2)
memory usage: 75.7+ KB

Part 5:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968 entries, 5479 to 6446
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         968 non-null    object
 1   movieId           968 non-null    int64
 2   title             968 non-null    object
 3   trailer_present   968 non-null    int64
 4   video downloaded  968 non-null    int64
 5   Durations         968 non-null    int64
 6   FPS               968 non-null    int64
 7   Width             968 non-null    int64
 8   Height            968 non-null    int64
 9   Aspect Ratio      968 non-null    float64
dtypes: float64(1), int64(7), object(2)
memory usage: 75.8+ KB

Total rows in all parts: 6447
Total rows in the original dataset: 6447

In [14]:
# Save each part as a CSV file
part1.to_csv('part1.csv', index=False)
part2.to_csv('part2.csv', index=False)
part3.to_csv('part3.csv', index=False)
part4.to_csv('part4.csv', index=False)
part5.to_csv('part5.csv', index=False)