In [40]:
import numpy as np 
import pandas as pd

In [41]:
import os
from moviepy.editor import VideoFileClip

In [42]:
yt_only_tralier = pd.read_csv('CSV files/yt_only_tralier.csv')

In [43]:
yt_only_tralier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6447 entries, 0 to 6446
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         6447 non-null   object
 1   movieId           6447 non-null   int64
 2   title             6447 non-null   object
 3   trailer_present   6447 non-null   int64
 4   video downloaded  6447 non-null   int64
dtypes: int64(3), object(2)
memory usage: 252.0+ KB

In [ ]:
import os
from moviepy.editor import VideoFileClip
import pandas as pd
import numpy as np

# Create empty lists to hold the metadata
durations = []
fps = []
widths = []
heights = []
aspect_ratios = []

# Iterate over the 'movieId' column of the dataframe
for movie_id in yt_only_tralier['movieId']:
    # Construct the file name using the movie_id
    file_name = f"{movie_id}.mp4"
    
    # Construct the path to the video file inside the 'yt trailers' folder
    file_path = os.path.join("yt trailers", file_name)
    
    # Initialize variables for metadata
    duration = None
    video_fps = None
    width = None
    height = None
    aspect_ratio = None

    try:
        # Load the video file to get its metadata
        with VideoFileClip(file_path) as video:
            duration = int(video.duration)
            video_fps = int(video.fps)
            width = int(video.size[0])
            height = int(video.size[1])
            aspect_ratio = round(width / height, 2)
    except (OSError, IndexError):
        print(f"Failed to extract metadata for video file {file_name}.")
    
    # Append the metadata to the lists
    durations.append(duration)
    fps.append(video_fps)
    widths.append(width)
    heights.append(height)
    aspect_ratios.append(aspect_ratio)

# Add the metadata to the dataframe as new columns
yt_only_tralier['Durations'] = durations
yt_only_tralier['FPS'] = fps
yt_only_tralier['Width'] = widths
yt_only_tralier['Height'] = heights
yt_only_tralier['Aspect Ratio'] = aspect_ratios

# Replace None values with NaN for consistency
yt_only_tralier.fillna(value=np.nan, inplace=True)

In [51]:
yt_only_tralier

,youtubeId,movieId,title,trailer_present,video downloaded,Durations,FPS,Width,Height,Aspect Ratio
0,K26_sDKnvMU,1,Toy Story (1995),1,0,90,29,636,480,1.32
1,3LPANjHlPxo,2,Jumanji (1995),1,0,167,23,1280,720,1.78
2,rEnOoWs3FuA,3,Grumpier Old Men (1995),1,0,111,29,640,360,1.78
3,j9xml1CxgXI,4,Waiting to Exhale (1995),1,0,159,23,640,480,1.33
4,2GfZl4kuVNI,6,Heat (1995),1,0,147,24,1920,1080,1.78
...,...,...,...,...,...,...,...,...,...,...
6442,_Buvv8StMGw,130682,Muck (2015),1,0,86,23,1280,720,1.78
6443,qCD9BG7ioOc,130970,George Carlin: Life Is Worth Losing (2005),1,0,267,29,1920,1080,1.78
6444,zElDJ1f3Jk0,130980,The Day That Lasted 21 Years (2012),1,0,116,29,1920,1080,1.78
6445,lEqrpuU9fYI,131013,Get Hard (2015),1,0,144,23,1280,720,1.78
6446,zildFIFKjlc,131168,Phoenix (2014),1,0,124,23,1920,816,2.35

In [53]:
yt_only_tralier.describe()

,movieId,trailer_present,video downloaded,Durations,FPS,Width,Height,Aspect Ratio
count,6447.000000,6447.0,6447.0,6447.000000,6447.000000,6447.000000,6447.000000,6447.000000
mean,26283.050411,1.0,0.0,172.347448,24.896386,927.777881,546.619203,1.651044
std,35472.899945,0.0,0.0,475.598739,3.580872,552.630648,280.060035,0.296815
min,1.000000,1.0,0.0,12.000000,6.000000,158.000000,112.000000,1.000000
25%,2607.500000,1.0,0.0,100.000000,23.000000,520.000000,360.000000,1.330000
50%,5693.000000,1.0,0.0,129.000000,24.000000,640.000000,480.000000,1.780000
75%,47608.000000,1.0,0.0,150.000000,29.000000,1280.000000,720.000000,1.780000
max,131168.000000,1.0,0.0,9075.000000,30.000000,1920.000000,1080.000000,2.690000

In [ ]:
yt_only_tralier.to_csv('CSV files/trial.csv', index=False)

In [ ]:
sample_df = yt_only_tralier.sample(10).copy()  # Create a copy to avoid modifying test_df

In [ ]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 4250 to 5883
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   youtubeId         10 non-null     object
 1   movieId           10 non-null     int64
 2   title             10 non-null     object
 3   trailer_present   10 non-null     int64
 4   video downloaded  10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 480.0+ bytes